{
  "semi": false,
  "tabWidth": 2,
  "singleQuote": true,
  "printWidth": 50,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "htmlWhitespaceSensitivity": "css",
  "vueIndentScriptAndStyle": true,
  "bracketSpacing": true,
  "proseWrap": "preserve",
  "singleAttributePerLine": true
}
